<svg>
    <g>
        <!--New reference-->
        <line ng-if="newReference" stroke-dasharray="5,5"
              class="connector string"
              ng-x1="property.calculatePosition().x" ng-y1="property.calculatePosition().y"
              ng-x2="newReference.x" ng-y2="newReference.y"/>

        <!--Input property-->
        <g ng-if="property.Direction === $direction.input">
            <!--Input property name-->
            <foreignObject ng-x="property.calculatePosition().x+5" ng-y="property.calculatePosition().y-10" width="100"
                           height="20">
                <div class="text-space s left font-xs text-left property-name" title="{{property.LabelText}}">
                    {{property.LabelText}}
                </div>
            </foreignObject>
        </g>
        <!--Output property-->
        <g ng-if="property.Direction === $direction.output">
            <!--Property references-->
            <line ng-repeat="reference in property.References"
                  class="connector"
                  ng-class="setStyle()"
                  ng-click="selectReference(reference)"
                  ng-x1="property.calculatePosition().x" ng-y1="property.calculatePosition().y"
                  ng-x2="designer.getReferencedProperty(reference).calculatePosition().x"
                  ng-y2="designer.getReferencedProperty(reference).calculatePosition().y"/>

            <foreignObject ng-x="property.calculatePosition().x-105" ng-y="property.calculatePosition().y-10"
                           width="100" height="20">
                <div class="text-space s right font-xs text-right property-name" title="{{property.LabelText}}">
                    {{property.LabelText}}
                </div>
            </foreignObject>
        </g>
        <circle r="5" class="connector string"
                ng-cx="property.calculatePosition().x"
                ng-cy="property.calculatePosition().y" pan="drag($event)"
                pan-start="dragStart($event)" pan-end="dragEnd($event)"
                ng-class="setStyle()"
                data-item-id="{{itemData.Id}}"
                data-property-name="{{property.PropertyName}}">
            <title>{{property.HintText}}</title>
        </circle>
    </g>
</svg>