<svg>
    <linearGradient id="running" fy="0">

        <stop offset="0" stop-color="#007abc">
        </stop>
        <stop offset="1" stop-color="#dbdbdb">
            <animate attributeName="offset" dur="1.5s" values="0;1;0"
                     repeatCount="indefinite"/>
        </stop>
        <stop offset="1" stop-color="#007abc"/>

    </linearGradient>

    <g class="designer-item" transform="translate(0,60)">
        <rect ng-width="width" ng-height="height"
              ng-x="data.Position.X"
              ng-y="data.Position.Y"
              ng-class="data.Status"
              class="box">
        </rect>
        <!--Item text-->
        <foreignObject ng-x="data.Position.X" ng-y="data.Position.Y" ng-width="width" ng-height="height">
            <span ng-click="removeItem()"
                  class="glyphicon glyphicon-remove remove-item pull-right text-space s top right"></span>

            <div class="text-space m left" ng-class="{'selected': data.selected}" style="padding-top: 5px;"
                 ng-transclude>
            </div>
        </foreignObject>
        <!--<rect ng-x="data.Position.X+1"
              ng-y="data.Position.Y-1" ng-width="width-2" height="2" ng-if="data.Status === $progressType.running"
              fill="url(#running)"></rect>-->
        </g>
    </g>
</svg>