/*Fonts*/
/*Colors*/
.dock-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-control .dock-panel {
  position: absolute;
  background-color: #3B3B42;
  z-index: 10;
}
.dock-control .dock-panel.left {
  left: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.left > .splitter {
  right: -5px;
  top: 0;
  bottom: 0;
  cursor: w-resize;
  background: #060d1e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #060d1e), color-stop(30%, #7a7a7a), color-stop(70%, #7a7a7a), color-stop(100%, #060d1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* IE10+ */
  background: linear-gradient(to right, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darker', endColorstr='@darker', GradientType=1);
  /* IE6-9 */
}
.dock-control .dock-panel.right {
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.right > .splitter {
  left: -5px;
  top: 0;
  bottom: 0;
  cursor: w-resize;
  background: #060d1e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #060d1e), color-stop(30%, #7a7a7a), color-stop(70%, #7a7a7a), color-stop(100%, #060d1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* IE10+ */
  background: linear-gradient(to right, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darker', endColorstr='@darker', GradientType=1);
  /* IE6-9 */
}
.dock-control .dock-panel.top {
  left: 0;
  right: 0;
  top: 0;
}
.dock-control .dock-panel.top > .splitter {
  left: 0;
  right: 0;
  top: auto;
  bottom: 0px;
  cursor: n-resize;
  height: 5px;
  width: auto;
  background: #060d1e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060d1e), color-stop(30%, #7a7a7a), color-stop(70%, #7a7a7a), color-stop(100%, #060d1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darker', endColorstr='@darker', GradientType=0);
  /* IE6-9 */
}
.dock-control .dock-panel.bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.dock-control .dock-panel.bottom > .splitter {
  left: 0;
  right: 0;
  top: -5px;
  cursor: n-resize;
  height: 5px;
  width: auto;
  background: #060d1e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #060d1e), color-stop(30%, #7a7a7a), color-stop(70%, #7a7a7a), color-stop(100%, #060d1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #060d1e 0%, #7a7a7a 30%, #7a7a7a 70%, #060d1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darker', endColorstr='@darker', GradientType=0);
  /* IE6-9 */
}
.dock-control .dock-panel.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dock-control .dock-panel.collapsed {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.dock-control .dock-panel.collapsed.left,
.dock-control .dock-panel.collapsed.right {
  min-width: 25px !important;
  width: 25px !important;
}
.dock-control .dock-panel.collapsed.left .dock-content,
.dock-control .dock-panel.collapsed.right .dock-content {
  opacity: 0;
}
.dock-control .dock-panel.collapsed.left .dock-panel-title,
.dock-control .dock-panel.collapsed.right .dock-panel-title {
  background: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.dock-control .dock-panel.collapsed.top,
.dock-control .dock-panel.collapsed.bottom {
  min-height: 25px !important;
  height: 25px !important;
}
.dock-control .dock-panel.collapsed .dock-panel-title {
  border-bottom: none;
}
.dock-control .dock-panel .dock-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dock-control .dock-panel .dock-content {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.dock-control .dock-panel .dock-panel-title {
  color: #ffffff;
  padding: 1px 5px 1px 5px;
  border-bottom: 1px solid #007acb;
  position: relative;
  z-index: 10;
}
.dock-control .splitter {
  width: 5px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
/*Animation keyframes*/
/* Chrome, Safari, Opera */
@-webkit-keyframes widthCollapse {
  from {
    min-width: 150px;
    width: 150px;
  }
  to {
    min-width: 35px !important;
    width: 35px !important;
  }
}
/* Standard syntax */
@keyframes widthCollapse {
  to {
    min-width: 35px !important;
  }
}
