/*Fonts*/
@font-face {
  font-family: metro-ui;
  src: url(../fonts/weblysleekuil.ttf);
}
/*Colors*/
.designer {
  overflow: visible;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
/* region Item*/
.transparent {
  fill: transparent;
}
.designer-item {
  stroke: #404040;
  fill: #f3f3f3;
  stroke-width: 2px;
}
.designer-item.running {
  stroke: #007acb !important;
}
.property-name {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}
.remove-btn {
  cursor: pointer;
}
.remove-btn line {
  stroke: #404040;
  stroke-width: 2px;
}
.connector {
  cursor: pointer;
}
.connector:hover {
  stroke-width: 3px;
}
.connector.no-value {
  fill: #f3f3f3;
}
/* region Property Types */
.string {
  fill: #db4f00;
  stroke: #db4f00;
}
.number {
  fill: #007acb;
  stroke: #007acb;
}
.bool {
  fill: #00b821;
  stroke: #00b821;
}
/* endregion types */
/* endregion Item*/
