/*Fonts*/
@font-face {
  font-family: metro-ui;
  src: url(../fonts/weblysleekuil.ttf);
}
/*Colors*/
.designer {
  overflow: visible;
}
/* region Item*/
.designer-item {
  stroke: #404040;
  fill: #e4e4e4;
}
.property-name {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}
.remove-item {
  font-size: 12px;
  cursor: pointer;
  color: #404040;
}
/* region types */
.string {
  fill: #db4f00;
  stroke: #db4f00;
}
.number {
  fill: #007acb;
  stroke: #007acb;
}
.bool {
  fill: #00b821;
  stroke: #00b821;
}
/* endregion types */
/* endregion Item*/
