/*Fonts*/
@light-font: 'Segoe UI Light', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
@semibold-font: 'Segoe UI', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;

/*Colors*/
@white: #ffffff;
@dark-blue: #007acb;
@dark-grey: #404040;
@light-grey: #E4E4E4;

@darker: #060d1e;
@ligher: #7a7a7a;

@box-color: #353535;

@highlight-dark: #3B3B42;

@header-dark: #2d2d30;