/*Fonts*/
/*Colors*/
.tree-groups {
  color: #ffffff;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
}
.tree-groups li {
  cursor: pointer;
}
.tree-groups .node-toggle {
  position: relative;
  margin-right: 15px;
  width: 10px;
  height: 10px;
  top: 2px;
}
.tree-groups .node-toggle.collapsed:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: -4px;
}
.tree-groups .node-toggle:before {
  position: absolute;
  display: block;
  left: 2px;
  top: 0;
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-top: 7px solid transparent;
  border-bottom: 7px #ffffff solid;
}
.tree-groups .tree-items {
  color: #ffffff;
  list-style-type: none;
  padding-left: 0px;
  /*-webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;*/
}
.tree-groups .tree-items li {
  cursor: pointer;
  padding: 5px 5px 5px 20px;
}
.tree-groups .tree-items li:hover {
  background: #7a7a7a;
}
.drag {
  cursor: move !important;
}
.drag.not-allowed {
  cursor: not-allowed !important;
}
