<svg class="designer" width="100%" height="100%" preserveAspectRatio="none">
    <g ng-repeat="task in items">
        <item drag-item="onDragItem(item, event)"
              drag-start-item="onDragStartItem(item, event)"
              item-click="selectItem(item, event)"
              width="250"
              height="170"
              data="task">
            <item-title>{{data.DisplayText}}</item-title>
            <item-description>{{data.UserGivenDisplayName}}</item-description>
        </item>
    </g>
</svg>